<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yoyoiq">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YoYoIq">
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterAndPlay"
            android:exported="true" />
        <activity
            android:name=".ContestWinners"
            android:exported="true" />
        <activity
            android:name=".CustomDialog"
            android:exported="true" />
        <activity
            android:name=".TeamPreviewActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentOptions"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RecentTransactions"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".AddCash"
            android:exported="true" />
        <activity
            android:name=".SelectTeams"
            android:exported="true" />
        <activity
            android:name=".AddCashActivity"
            android:exported="true" />
        <activity
            android:name=".MyCoupons"
            android:exported="true" />
        <activity
            android:name=".FantasyIPL"
            android:exported="true" />
        <activity
            android:name=".PointSystem"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>